nvme
!nvme/
*.xml
a.out
*.o
*.ol
*.os
*~
*.swp
NVME-VERSION-FILE
*.a
*.so.*

cscope.*

/debian/files
/debian/nvme-cli.debhelper.log
/debian/nvme-cli.substvars
/debian/nvme-cli

tests/__pycache__
tests/nvmetests
tests/*.pyc
